<app-menu></app-menu>
<ion-content [fullscreen]="true">

<ion-row class="ion-justify-content-center">
  <ion-col size="10" size-l="4" class="ion-text-center">
    <ion-label><h1>👻 ADICIONAR FANTASIA 👻</h1></ion-label>
    <ion-item>
      <ion-input label="Nome da Fantasia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Tamanho"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Preço"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button slot="end" color="tertiary">SALVAR</ion-button>
    </ion-item>
  </ion-col>
</ion-row>

</ion-content>
<app-footer></app-footer>
