<app-menu></app-menu>
<ion-content [fullscreen]="true">

   <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-lg="3" class="fundo fantasia"></ion-col>
        <ion-col size="6" size-lg="3" class="fundo decoracao"></ion-col>
        <ion-col size="6" size-lg="3" class="fundo doce"></ion-col>
        <ion-col size="6" size-lg="3" class="fundo filme"></ion-col>
   </ion-row>
   <ion-row>
        <ion-col size="12" class="ion-text-center">
            <h1>DOCES OU TRAVESSURAS?</h1>
        </ion-col>
   </ion-row>
   <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" class="fundo crianca"></ion-col>
    <ion-col size="12" size-lg="4" class="ion-text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nobis officia minus accusamus reiciendis esse, tempora placeat cupiditate aliquid non adipisci quibusdam facere quasi explicabo possimus blanditiis magnam aperiam minima?
        Fugiat consectetur velit dolores eveniet expedita qui, repellat aliquid nobis quod rerum officia? Dignissimos, esse earum voluptas alias odio reprehenderit suscipit error vero eius sed numquam sint, at autem officia.
        Voluptatum exercitationem alias, corporis laboriosam molestiae velit, voluptatem recusandae rem quidem magni dolorum minima harum nesciunt earum. Quas cumque possimus minus! Neque facilis aliquid voluptas quaerat. Error culpa modi beatae!
        Illum nostrum dolorem recusandae mollitia perspiciatis officia tempore praesentium libero, nulla tenetur! Illo at repudiandae ut dolorem! Optio maxime, neque enim omnis alias in ut cumque aperiam. Omnis, nemo quam!
        Autem debitis recusandae dicta, et animi quidem laborum tenetur amet odit eum reprehenderit perspiciatis sequi deleniti qui delectus ratione similique, dolores, ipsum soluta ipsam dolorum blanditiis optio itaque unde! At?
        Reiciendis, autem optio sed saepe ratione est alias odio itaque. Deserunt, debitis mollitia doloribus tempore optio, saepe culpa animi libero odit voluptas possimus nesciunt repellendus. Modi voluptatibus expedita exercitationem aliquam.
        Ipsam consequatur fugiat assumenda libero odit, ex esse nobis non vitae ab reprehenderit accusamus eum facere sunt? Magni aut obcaecati eius iste saepe tempore animi, laudantium pariatur sed recusandae necessitatibus?
        Fuga repellendus quibusdam debitis nam minima aliquam est dolores eveniet non autem nobis sed iste, quo maxime unde corporis odit aperiam delectus. Ducimus quibusdam ex quo consequuntur iste animi possimus.
        Rerum minima, ullam nam odit, aut omnis nostrum maxime maiores accusamus provident sit adipisci qui unde eum nesciunt non quaerat impedit. Error similique aspernatur suscipit minus, veniam accusamus sunt accusantium.</p>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="12" class="ion-text-center">
        <h1>LISTA DE FANTASIAS</h1>
    </ion-col>
</ion-row>
<ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="8" class="ion-text-center">
        <ion-row>
            <ion-col size="6" size-l="3">
                <ion-card>
                    <ion-card-title>
                        <img class="imgCard" src="https://img.joomcdn.net/dcf58113a6bd277e88a8927836ca129f94777315_original.jpeg">
                    </ion-card-title>
                    <ion-card-content class="ion-text-center">
                        <h3>Esqueleto</h3>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6" size-l="3">
                <ion-card>
                    <ion-card-title>
                        <img class="imgCard" src="https://down-br.img.susercontent.com/file/cn-11134207-7r98o-lz49u67jm1yrf3">
                    </ion-card-title>
                    <ion-card-content class="ion-text-center">
                        <h3>Bruxa</h3>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6" size-l="3">
                <ion-card>
                    <ion-card-title>
                        <img class="imgCard" src="https://down-br.img.susercontent.com/file/br-11134207-7r98o-lwllttro27jza1">
                    </ion-card-title>
                    <ion-card-content class="ion-text-center">
                        <h3>Vampiro</h3>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6" size-l="3">
                <ion-card>
                    <ion-card-title>
                        <img class="imgCard" src="https://kidverso.com/cdn/shop/files/imageJnaLMJ_800x.jpeg?v=1723137981">
                    </ion-card-title>
                    <ion-card-content class="ion-text-center">
                        <h3>Fantasma</h3>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        </ion-col>

   </ion-row>
   <app-footer></app-footer>
</ion-content>